html, body {
	font-size: 16px;
	line-height: 34px;
	font-family: 'Roboto', sans-serif;
	background-image: url("../images/subtle_grunge_@2X.png");
    color: #777;
    height: 100%; 
    margin: 0 auto;
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  }
  

*::before,
*::after {
  box-sizing: inherit;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 50px;
    clear: both;
    margin-top: 50px;
}

#container {
    margin-bottom: 100px; 
    /* background-color: white; */
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #4aaaa5
}

h1 {
    font-size: 35px;
    line-height: 49px;
    border-bottom: 3px solid #64696e;
    padding-bottom: 15px;
    text-shadow: #000000;
}

h5 {
    overflow: auto;
    z-index: 99;
    position: relative;
    margin: 20px 0 25px;
}

/*header*/
 .navbar-brand {
    font-family: 'Roboto', sans-serif;
	font-size: 27px;
	font-weight: 700;
	text-decoration: none;
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	line-height: 90px;
	width: 250px;
	height: 80px; 
}

 nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    /* border-left: 1px solid #efefef; */
    padding-left: 15px;
    line-height: 18px;
}
.social {
    width: 60px;
    height: 60px;
    margin-top: 8px;
}

/*footer*/
 
.footer-copyright {
    background: #343a40;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
}

.push {
    height: 50px;
} 

.card-img-top {
    width: 100%;
    border: .2px solid rgb(221, 221, 221);
    opacity: .9;
}

.card-text {
    color: white;
    font-family: 'Roboto', sans-serif; 
}

.banner {
        height: 70px;
        width: 100%; /* 100% of container width*/
        position: absolute; /*lets you position banner relative to relatively-positioned parent container*/
        bottom: 15px; /*positions it 15px from bottom of container*/
        background-color: #4aaaa5;
        opacity: .9;
        display: flex; /*lets you use the next two properties*/
        justify-content: center; /*centers .banner's children along x axis*/
        align-items: center; /*centers .banner's children along y axis*/
      }
/*contact*/

 .form {
    margin-bottom: 20px;
}

textarea {
    height: 200px;
}

input[type=submit] {
    background: #4aaaa5;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 15px;
    cursor: pointer;
} 

@media screen and (max-width: 803px) and (min-width: 768px){
    .col-md-4 {
        /* float: none; */
        /* margin: 0 auto; */
        /* height: 60px; */
        margin-top: 15px;
}
}

@media screen and (max-width: 768px){
    #sidebar-col {
        /* float: none; */
        /* margin: 0 auto; */
        /* height: 60px; */
        margin-top: 15px;
}
}